@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()            
            <li class="nav-item cta"><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-primary btn-outline-white px-5 py-3">Log off</a></li>
    }
}
else
{  
<li class="nav-item cta"><a href="/Account/Register" class="nav-link">Register</a></li>
<li class="nav-item cta"><a href="/Account/Login" class="nav-link">Login</a></li>
}
